<div class="">
  <div class="well">
    <%= link_to 'Add Children', new_child_path, remote: true %>
  </div>
  <br>
  <%= render "children/student_list" %>
</div>
<div id="children-form"></div>

<script type="text/javascript">
  function getId(id){
    if ($("#child_students_attributes_"+id+"_id").is(":checked")) {
      $("#child_students_attributes_"+id+"__destroy").val("false")
    }
    else {
      $("#child_students_attributes_"+id+"__destroy").val("true")
    }
  }
</script>