<div class="child-index">
  <% if @children.present? %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @children.each do |child| %>
          <tr>
            <td><%= child.name %></td>
            <td>
              <%= link_to "Edit", edit_child_path(child), remote: true, class: "btn btn-default" %>
              <%= link_to 'Delete', child_path(child), method: :delete,data: { confirm: 'Are you sure?' }, remote: true, class: "btn btn-default"  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>