
<div class="form-group test">
  <%#= f.collection_select :id, Subject.all, :id, :name,{}, {multiple: true} %>
  <%= f.check_box :id, onclick: "getId('#{f.index}')", checked: @child.subjects.pluck(:id).include?(f.object.subject_id), class: 'subject-check-box' %>
  <%= f.hidden_field :_destroy, value: (!@child.subjects.pluck(:id).include?(f.object.subject_id)), class: "delete#{f.index} student-nested-destroy" %>
  <%= f.hidden_field :subject_id, value: f.object.subject.id %>
  <%= f.object.subject.name %>
</div>
