<%#= f.fields_for :students do |builder| %>
  <%#= render 'student_fields', f: builder %>
<%# end %>

<% if @details.present? %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <% @details.each_slice(20) do |details| %>
            <td>
              <% details.each do |detail| %>
                <input type="checkbox" id="detail-id-<%= detail.id %>" class="multiple-child" onclick="selectMultipleChild(<%= detail.id %>)" value="<%= detail.id %>">
                <%= link_to detail.child.name.capitalize, child_detail_sheet_path(@sheet, detail: detail.id), remote: true, class: "child-name", id: detail.child.name %><br>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.child-name').first().addClass('active-child');
  })

  $(this).addClass('active-child');
  $('.child-name').on('click', function(){
    $(".child-name").removeClass('active-child');
    $(this).addClass('active-child');
  });

  function selectMultipleChild(detailID){
    if ($("#detail-id-"+detailID).is(":checked")){
      $('.multiselect-child-ids').append("<input type='hidden' name='detail_ids[]'" + "value='" + detailID + "' >")
    }
    else{
      $('input[type="hidden"][value="'+detailID+'"][name="detail_ids[]"]').remove()
    }
  }
  
</script>
