<div class="row page-single-table">
  <div class="col-md-12">
    <%= select_tag :subject, options_for_select(subjects),:prompt => "Select Subject", class: 'form-control subject_id ' %><br>
  </div>
  <div class="col-md-12 report-section">
  </div>
</div>

<script type="text/javascript">
  $(".subject_id").change(function(){
    $.ajax({
      data: { 'subject_id' : this.value, 'report' : 'true' },
      url: "<%= report_details_sheets_path %>",
      dataType: 'script',
      //orther options ...
      success: function(data){
          //$("#floors_select").html(data);
      }
    });
  })
</script>