<div class="row marginleft11">
  <%= link_to 'Export', ''%>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <% @sheets.each do |report| %>
        <tr>
          <td><%= report.title %></td>
          <td><%= report.subject.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>