<div class="row">
  <div class="col-sm-6 col-md-6">
    <div>
      <%= render "subjects/index"%>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div>
      <%= render "children/index" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on('click', 'form .remove_fields', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });

$(document).on('click', 'form .add_fields', function(event) {
  var regexp, time;
  time = new Date().getTime();
  regexp = new RegExp($(this).data('id'), 'g');
  $(this).before($(this).data('fields').replace(regexp, time));
  return event.preventDefault();
});
</script>