<div class="row">
  <div class="col-sm-6 col-md-6">
    <div>
      <%= render "subjects/index"%>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div>
      <%= render "children/index" %>
    </div>
  </div>
</div>