# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 2f965589799045036ca18c9250ee63ee9b6106df15379d7e0d42008981b19b3e746f2f8f6da12f049f8c7c6946a7a55ff69fc1ece852cff98ac9c30b5214fafc
  paypal_email: "homerin2000-facilitator@hotmail.com"
  paypal_url: "https://www.sandbox.paypal.com"
test:
  secret_key_base: e41b3555c0ec3e58c9d9128569beede2e4bad5e4ac2df41bd490e4aee7ba7e221b0faed62d8d99c50368c26d651d7b8de9f383a50344a6467e71f89fcf5250d5

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  paypal_email: "homerin2000-facilitator@hotmail.com"
  paypal_url: "https://www.sandbox.paypal.com"
