<div class="well">
  <%= link_to 'Add subject', new_subject_path, {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true} %>
</div>
<%= render "subjects/list" %>
<div class="clearfix"></div>
