<div class="row custom-table-position">
  <div class="well">
    <%= link_to 'Add Teacher', new_teacher_path, remote: true %>
  </div>
  <div id="teacher-form"></div>
  <%= render "teacher" %>
</div>
