
<div class="custom-table-position" style="margin-left: 200px;">
  <% if current_teacher.subscriptions.is_active.present? %>
    <div class=well>
      Your current plan is <%= current_teacher.subscriptions.is_active.first.subscription_type.name%>
    </div>
  <% end %>
</div>