.well{
  margin-top: 68px !important;
}

.navbar-right {
    float: right !important;
    margin-right: 21px !important;
    margin-top: 11px !important;
}

.error_section{
  margin-top: 5px;
  width: 97%;
  padding-left: 10px;
  padding-right: -10px;
}
